.container {
  align-items: center;
}

.todayCases {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom: 5px solid rgb(250, 250, 106)
}

.todayDeaths {
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom: 5px solid rgb(228, 76, 76)
}

@media only screen and (min-width: 900px) {
  .container {
    max-width: 1080px !important;
    // margin-top: 20px !important;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    min-width: 300px !important;
    margin-bottom: 20px;
    // margin-top: 20px !important;
  }
}