.container {
  max-width: 1080px !important;
  align-items: center;
}

.titleContainer,
.subtitleContainer {
  text-align: left;
  padding-left: 30px;
}

.titleContainer {
  margin-bottom: 0px !important;
}

.title {
  font-family: "Quicksand", sans-serif !important;
  font-weight: 700 !important;

  a {
    color: unset;
    text-decoration: none;
  }
}

.btnContainer {
  position: relative;
  text-align: right;
  padding-right: 25px;
}

.logo {
  height: 45px;
  width: 45px;
  vertical-align: middle;
}

.subtitle {
  padding-left: 0px;
}

@media only screen and (min-width: 900px) {
  .container {
    margin-top: 20px !important;
    margin-bottom: 50px;
  }

  .titleContainer {
    max-width: 1080px !important;
  }

  .icon {
    width: 32;
    height: 32;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    margin-bottom: 20px;
    margin-top: 20px !important;
  }

  .titleContainer {
    margin-bottom: 0px !important;
  }

  .title {
    margin-bottom: 0px;
  }

  .btnContainer {
    display: none;
  }
}