.container {
  margin: 0 0 !important;
  padding: 0 0 !important;
  text-align: center;

  a {
    text-decoration: underline;
    font-weight: bolder !important;
    color: unset !important
  }
}

.Data {
  margin-bottom: 10px !important;
}