.container {
  justify-content: center !important;
  // padding: 0px 0px !important;
  // max-width: 50% !important;
}

.heading {
  align-items: center !important;
  justify-content: center !important;
}

.cardGrid {
  padding: 0px 0px !important;
}

.card {
  margin: 0 1% !important;
  padding-bottom: 0px !important;
  justify-content: center !important;
  align-items: center !important;
}

@media only screen and (min-width: 900px) {
  .container {
    width: fit-content !important ;
    justify-content: center !important;
    // padding: 0px 0px !important;
    // min-width: 800px !important;
    max-width: 1000px !important;
  }
  .todayCases {
    border-bottom: solid 5px #f6de09 !important;
    border-bottom-left-radius: unset !important;
    border-bottom-right-radius: unset !important;
  }
  .todayDeaths {
    border-bottom: solid 5px #f65858 !important;
    border-bottom-left-radius: unset !important;
    border-bottom-right-radius: unset !important;
  }

  .cases {
    border-bottom: solid 5px rgba($color: #000000, $alpha: 0) !important;
  }
  .deaths {
    border-bottom: solid 0px rgba($color: #000000, $alpha: 0) !important;
  }
  .recovered {
    border-bottom: solid 5px rgba($color: #000000, $alpha: 0) !important;
  }
  .active {
    border-bottom: solid 5px rgba($color: #000000, $alpha: 0) !important;
  }
}

@media only screen and (max-width: 1090px) {
  .container {
    width: 100% !important ;
    justify-content: center !important;
    // padding: 0px 0px !important;
    min-width: unset !important;
    max-width: 1000px !important;
  }
  .cases {
    border-bottom: solid 5px rgba($color: #000000, $alpha: 0) !important;
  }

  .todayCases {
    border-bottom: solid 5px #f6de09 !important;
    border-bottom-left-radius: unset !important;
    border-bottom-right-radius: unset !important;
  }
  .todayDeaths {
    border-bottom: solid 5px #f65858 !important;
    border-bottom-left-radius: unset !important;
    border-bottom-right-radius: unset !important;
  }

  .deaths {
    border-bottom: solid 5px rgba($color: #000000, $alpha: 0) !important;
  }
  .recovered {
    border-bottom: solid 5px rgba($color: #000000, $alpha: 0) !important;
  }
  .active {
    border-bottom: solid 5px rgba($color: #000000, $alpha: 0) !important;
  }
}
